:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #e0e0e0;
  --verde: #39b54a;
}

/* *******************CUSTOM**************  */
/* Margin */
.pd-top-10 {
  padding-top: 10px;
}
.pd-bottom-10 {
  padding-top: 10px;
}
.pd-left-10 {
  padding-left: 10px;
}
.pd-right-10 {
  padding-right: 10px;
}
/* Margin */
.mr-top-10 {
  margin-top: 10px;
}
.mr-bottom-10 {
  margin-bottom: 10px;
}
.mr-left-10 {
  margin-left: 10px;
}

.mr-right-10 {
  margin-right: 10px;
}

/* ****************** END CUSTOM ************* */
body {
  background-color: var(--gris-claro);
  margin: 0 !important;
}

#nav-menu {
  font-size: 13px;
}

a {
  text-decoration: none;
}

#encabezado {
  background-color: var(--amarillo);
}

.header-barra-busqueda-container {
  display: flex;
  flex-direction: column;
}
.header-barra-busqueda {
}

.header-logo-busqueda {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.logo-ml {
  width: 30%;
}
.lupa {
  background-color: white;
}

.barra-busqueda-container {
}
.barra-busqueda {
  width: 90%;
}

.menu-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.menu-container .menu-btn {
  /* width: 40px;
  height: 40px; */
  font-size: 20px;
  background-color: #0044aa;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
.menu-btn:hover {
  background-color: #0022aa;
}
#nav-menu {
  display: none;
}

#banner img {
  width: 100%;
}

#section {
}
.main-article-detail .precios {
  color: black;
}

/* ULTIMA VISITA */

.main-ultima-visita-titulo {
  text-align: center;
  color: var(--gris-oscuro);
  font-weight: bold;
  font-size: 20px;
}
/* END ULTIMA VISITA */

/* 
*********************
ARTICLE 
*********************
*/
.articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

article {
  width: 30%;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 8px;
}

/* mobile */
@media (max-width: 500px) {
  .logo-ml {
    width: 50%;
  }
  .barra-busqueda {
    width: 90%;
  }
  .articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px;
    margin-bottom: 20px; */
  }
  article {
    width: 70%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 8px;
    border: #ebebeb;
  }
}
/* END MOBILE */

article img {
  width: 100%;
}
.main-article-detail-container {
  padding-left: 10px;
  border-top: 1px solid #ebebeb;
}
.article-truck-container {
  margin: -14px;
  text-align: end;
}

.fa-truck {
  color: #39b54a;
  border: solid 1px #ebebeb;
  background-color: #ebebeb;
  padding: 5px 5px 5px 5px;
  border-radius: 80%;
  position: relative;
  bottom: 1px;
  margin-right: 30px;
}
.article-price-discount-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-article-detail-container .precios {
  color: black;
  font-size: 16px;
  margin-right: 5px;
}
.main-article-detail-container .descuentos {
  font-size: 12px;
  color: var(--verde);
}
.main-article-detail-container .descripcion {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--gris-oscuro);
}

/* END   ARTICLE */

/* OFERTAS */
.main-ofertas {
  text-align: center;
  color: var(--gris-oscuro);
  font-weight: bold;
  font-size: 20px;
}
.main-ofertas-titulo {
  text-align: center;
  color: var(--gris-oscuro);
  font-weight: bold;
  font-size: 20px;
}
/* END OFERTAS */

/* FOOTER */
footer {
  width: 100%;
  background-color: white;
  margin-top: 20px;
}
footer div {
  padding-left: 5%;
  padding-right: 5%;
}
.footer-titles {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
footer div i {
  margin-top: 30px;
  color: rgb(0, 0, 95);
}
footer p {
  margin: 0;
}
.footer-copyright {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-align: center;
}

/* END FOOTER */
