:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #e0e0e0;
  --verde: #39b54a;
}

/* *******************CUSTOM**************  */
/* Margin */

.pd-top-10 {
  padding-top: 10px;
}

.pd-bottom-10 {
  padding-bottom: 10px;
}

.pd-left-10 {
  padding-left: 10px;
}

.pd-right-10 {
  padding-right: 10px;
}

/* Margin */
.mr-top-10 {
  margin-top: 10px;
}

.mr-bottom-10 {
  margin-bottom: 10px;
}

.mr-left-10 {
  margin-left: 10px;
}

.mr-right-10 {
  margin-right: 10px;
}

.d-flex {
  display: flex;
}

.fd-colum {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.justify-center {
  justify-items: center;
}

.ai-center {
  align-items: center;
}

.wd-80 {
  width: 90%;
}

/* ****************** END CUSTOM ************* */
body {
  background-color: var(--gris-claro);
  margin: 0 !important;
}

#nav-menu {
  font-size: 13px;
}

a {
  text-decoration: none;
}

#encabezado {
  background-color: var(--amarillo);
}

.header-barra-busqueda-container {
  display: flex;
  flex-direction: column;
}

.header-barra-busqueda {}

.header-logo-busqueda {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo-ml {
  width: 30%;
}

.lupa {
  background-color: white;
}

.barra-busqueda-container {}

.barra-busqueda {
  width: 90%;
}

.menu-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.menu-container .menu-btn {
  /* width: 40px;
  height: 40px; */
  font-size: 20px;
  background-color: #0044aa;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.menu-btn:hover {
  background-color: #0022aa;
}

#nav-menu {
  display: none;
}

#banner img {
  width: 100%;
}

#section {}



/* FOOTER */
footer {
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

footer div {
  padding-left: 5%;
  padding-right: 5%;
}

.footer-titles {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

footer div i {
  margin-top: 30px;
  color: rgb(0, 0, 95);
}

footer p {
  margin: 0;
}

.footer-copyright {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-align: center;
}

/* END FOOTER */